:root{
    --content:1rem;
    --sub-heading:1.2rem;
    --heading:1.5rem;
    --theme-primary:ada69d;
}
a{
    text-decoration: none;
    height: fit-content;
}
section{
    padding: 2.5rem 0;
}
.hero{
    background: radial-gradient(#ada69d,#ada69d7e,#ada69d25);
}
.table-left-border {
    border-left: 1px solid blue; /* Choose your border color */
}
.row-top-border{
    border-top: 1px solid blue; /* Choose your border color */
}
.exp-lb{
    border-left:3px solid blue ;
}
.social-icon{
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
    margin: 1rem 0;
}
.social-icon:not(:last-child){
    margin-right: 1.2rem;
}
.c-cont{
    width: 90%;
}


.btn-techie{
    border-radius: 5px;
    padding: 0rem 0.3rem;
    margin-bottom: .2rem;
 }
 
 
 .pLang{
     border: 1px solid greenyellow;
     background-color: rgba(172, 255, 47, 0.258);
     color: green;
 }
 .dbLang{
     border: 1px solid orangered;
     background-color: rgba(255, 68, 0, 0.347);
     color: red;
 
 }
 .tools{
     border: 1px solid rgb(8, 0, 255);
     background-color: rgba(0, 13, 255, 0.336);
     color: rgb(17, 0, 255);
 
 }
 .fWorks{
     border: 1px solid red;
     background-color: rgba(255, 0, 0, 0.231);
     color: red;
 
 
 }
 .skills{
     border: 1px solid rgb(0, 234, 255);
     background-color: rgba(92, 181, 196, 0.231);
     color: skyblue;
 }


.git{
    width: 30px;
    height: 30px;
    margin-right: .4rem;
}

.theme-border{
    border: 1px solid rgba(211, 211, 211, 0.498);
    border-radius: 5px;
}
.theme-bg{
    background: #ada69d;
}


.card-text{

    max-height: 220px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }